/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

img{
  width: 100px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.up {
  color: #0b5c09;
}

.down {
  color: #E01A76;
}

button {
  color: #fff;
    background-color: #033a29 !important;
    border-color:   #033a29 !important;
}
